.d-flex{
    display: flex;
}

.j-spacebetween{
    justify-content: space-between;
    
}
.list-none{
    list-style: none;
}
.text-none{
    text-decoration: none;
}
.c-black{
    color: black;
}
.items-center{
    align-items: center;
}
.align-right{
    text-align: right;
}
.c-pointer{
    cursor: pointer;
}
.t-underline{
    text-decoration: underline;
}
.j-center{
    justify-content: center;
}
.logo-color{
    color: #0b00a3;

}
.bg-black{
    background-color: black;
}
.c-white{
    color: white;
}
.j-spacearound{
    justify-content: space-around;
}
.j-flex-end{
    justify-content: flex-end;
}